Security_Planning/Assets/SimpleOfficeInteriors/
Security_Planning/Assets/RPG Character Animation Pack/
Security_Planning/Assets/PolygonHeist/
Security_Planning/Assets/PolygonCity/
Security_Planning/Assets/SimpleIcons/
Security_Planning/Library/
Security_Planning/Temp/
Versions/
builds/
.vs/
Security_Planning/Assets/PolygonHeist.meta
Security_Planning/Assets/PolygonCity.meta
